.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
  /* row-gap: 2px; */
}

.game img {
  width: 62px;
  height: 62px;
  max-width: 70px;
}